* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --dirt-color: #F7B267;
  --header-color: #F27059;
  --black-color: black;
  --button-color: #D0E1D4;
  --white-color: white;
  --hover-color: #F2F6D0;
}

/*The header*/
header {
  background: var(--header-color);
  min-height: 25vh;
  min-width: 100%;
  position: relative;
  margin-top: -10px;
}

/* the text in the header*/
.tip {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  margin-top: 40px;
  font-family: "VT323", monospace;
  font-weight: bold;
  color: var(--black-color);
  position: absolute;
  margin-left: 35%;
}


main{
  background-color: var(--dirt-color);
  min-height: 100vh;
  margin-top: -50px;
  margin-bottom: -90px;
}

/*the button to get the fun facts*/
button{
background-color: var(--button-color);
position: relative;
margin-top: 40px;
margin-bottom: 30px;
box-shadow: 20px 12px 14px 3px rgba(0,0,0,0.48);
transform: scale(1.6);
cursor: pointer;
width: 100px;
border-radius: 20px;
height: 30px;

&:active{
    bottom: -3px;
}
}

button:hover{
    background-color: var(--hover-color);
}

.Test{
    text-align: center;
}


h1 {
    font-size: 3rem;
    margin-top: 50px;
    text-shadow:  3px 5px #75665b;
    font-weight: bold;
    font-family: 'font-family: IBM Plex Sans Hebrew', sans-serif;
}
p{
    font-size: 2rem;
    margin-top: 30px;
}

img{
  height: 90px;
  width: 50px;
  padding: 10px;
  margin: 10px;
}

/*code for the footer*/
footer {
  background: var(--black-color);
  min-height: 100px;
  min-width: 100%;
  bottom: 0%;
  position: relative;
  


  .bunn {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: "VT323", monospace;
    color: var(--white-color);
    margin-top: 30px;
    position: absolute;
    margin-left: 40%;
  }
}

